{
  "all": true,
  "check-coverage": true,
  "extension": [ ".js" ],
  "include": [ "dist/**/*.js" ],
  "exclude": [ "dist/index.js", "dist/_virtual/**/*.js" ],
  "branches": 85,
  "lines": 85,
  "functions": 85,
  "statements": 85
}
